.custom-button{
    border-radius: 25px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    &.block {
        display: block;
        width: 100%;
    }
    &.brand-primary{
        background-color: $brand_color;
        border-color: $brand_contrast;
        &:hover {
            background-color: $brand_contrast;
            @include transition(all 0.5s ease-in-out);
        }
    }
}